/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  /*GLOBAL RULES*/

  body{
    margin: auto;
    color: #2e282a;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
  }

  h1, h2, h3, h4, a{
    font-family: 'Patrick Hand', cursive;

  }
  /*COMMUN RULES*/

  .tabpc, .title p, .etoiles,
  .coordonnees, .parteners,
  .end2 h2, .historique{
    display: none;
  }

  a{
    color: #2e282a;
    text-decoration: none;
  }

  .container, .containercontact,
  .containereq{
    width: 95%;
    margin: auto;
  }

  figure, img{
    margin: 0;
    width: 100%;
  }

  .bold{
    font-weight: bold;
  }

  /*END COMMUN RULES*/

  /*HEADER*/

  .mobile{
    text-transform: uppercase;
    width: 100%;
  }

  .mobile img{
    width: 40px;
  }

  .fig{
    margin: 0;
    padding: 20px;
  }

  .down{
    text-align: center;
    display: none;
    background: #2e282a;
    position: absolute;
    width: 100%;
    opacity: 0.8;
  }

  .mobile:hover .down{
    display: flex;
    flex-wrap: wrap;
  }

  .down a{
    width: 100%;
    line-height: 60px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
  }

  .down a:hover{
    color: #e4572e;
  }

  .down a:nth-child(4){
    border-top: 1px white solid;
  }

  .down a:nth-child(1){
    border-bottom: 1px white solid;
  }

  .title{
    text-align: center;
    text-transform: uppercase;
  }

  h1{
    letter-spacing: 5px;
    color: #2e282a;
    margin-top: 60vh;
  }

  header figure{
    background: fixed center;
    height: 100vh;
  }

  .bk{
    background: url("../img/logomobile.png") center;
    /*background-size: cover;*/
    color: white;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }

  .projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 8%;
  }

  .projects a{
    padding: 10px 20px;
    text-decoration: none;
    color: white;
  }

  .projects p{
    text-align: justify;
  }

  .container article:nth-child(2) a{
    background: #e4572e;
  }

  .container article:nth-child(2){
  border-top: 2px #e4572e solid;
  }

  .container article:nth-child(2) a:hover{
    background: white;
    color: #e4572e;
    border: 1px #e4572e solid;
  }

  .container article:nth-child(3){
  border-top: 2px #76b041 solid;
  }

  .container article:nth-child(3) a{
    background: #76b041;
  }

  .container article:nth-child(3) a:hover{
    background: white;
    color: #76b041;
    border: 1px #76b041 solid;
  }

  .container article:nth-child(4) a{
    background: #ffc914;
  }

  .container article:nth-child(4){
  border-top: 2px #ffc914 solid;
  }

  .container article:nth-child(4) a:hover{
    background: white;
    color: #ffc914;
    border: 1px #ffc914 solid;
  }

  li{
    list-style: none;
  }

  .cles img{
    width: 30px;
  }

  .cles li{
    margin-bottom: 2%;
  }

  .end1{
    display: flex;
    justify-content: center;
  }

  .info{
    background: #2e282a;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    text-align: center;
    line-height: 150px;
    cursor: pointer;
    margin-top: 10px;
  }

  .info a{
    color: white;
  }

  .info a:hover{
    color: #e4572e;
  }

  .end2 h3{
    text-align: center;
  }

  .logo{
    display: flex;
    justify-content: center;
  }

 /*page contact*/

  .containercontact{
    display: flex;
    flex-direction: column;
  }

  .contact{
    width: 95%;
  }

  .contact h3{
    text-align: center;
  }

  .contact form{
    text-align: center;
    width: 80%;
    margin: auto;
  }

.contact form input{
    width: 90%;
    padding: 5px;
}

.contact form textarea{
    width: 90%;
    height: 100px;
}

.adressemobile{
  width: 70%;
  margin: auto;
  text-align: center;
}


  .googlemap{
    display: none;
  }
  /*end page contact*/

  /*page equipe*/

  .equipe figure{
    width: 50%;
  }

  .equipe p{
    text-align: justify;
  }

  .equipe p img{
    width: 30px;
  }

  /*end page equipe */


  footer{
    background: #eee;
  }

  .logo img{
    width: 20px;
    margin: auto 10px;
  }

  footer nav{
    text-align: center;
  }

  footer nav ul{
    padding: 0;
  }

  footer nav li{
    padding: 12px 0;
    border-top: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  footer nav a:hover{
    color: #e4572e;
  }

  footer p{
    text-align: center;
    font-size: 12px;
  }

  @media (min-width: 768px) {

    .bk{
      background: url("../img/bureau.jpg") fixed center;
      background-repeat: no-repeat;
      object-fit: cover;
      width: 100%;
      height: 50vh;
    }

    h1{
      margin-top: -60vh;
    }

    .mobile{
      display: none;
    }

    .tabpc{
      display: flex;
    }

    .tabpc figure{
      width: 100px;
      padding: 10px;
    }

    .tabpc li{
    }

    /*.tabpc figure{
      width: 50%;
    }*/

    .tabpc ul{
      display: flex;
      width: 100%;
      padding: 0;
      justify-content: space-around;
    }

    .tabpc li{
      font-size: 20px;
      letter-spacing: 1px;
    }

    .tabpc a{
      color: #2e282a;
    }

    .tabpc a:hover{
      color: #17bebb;
    }

    .tabpc ul span{
      background: #17bebb;
      padding: 5px 15px;
      color: white;
    }

    .projects{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .projectstext{
      width: 40%;
    }

     .projects figure{
       width: 50%;
     }

     .cles{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
     }

     .cles ul{
       padding: 0;
       width: 40%;
     }

     .cles h2{
       width: 100%;
     }

/*-----CONTACT TABLET-----*/
    .adressemobile{
      display: none;
    }

    .googlemap{
      display: block;
      margin: auto;
      padding: 30px;
    }

    .googlemap h3{
      text-align: center;
    }


<<<<<<< HEAD
  }
  /*-----END OF CONTACT TABLET-----*/


@media (min-width: 1024px){

  /*-----CONTACT DESKTOP-----*/

  .containercontact{
    flex-direction: row;
    width: 95%;
    align-items: flex-start;
    height: 600px;
=======
>>>>>>> b72fb4b2132f496acf431784a43ef6b7d48cacd2
  }
  /*-----END OF CONTACT TABLET-----*/

  .googlemap{
    height: 500px;
  }

<<<<<<< HEAD
=======
@media (min-width: 1024px){

  /*-----CONTACT DESKTOP-----*/

  .containercontact{
    flex-direction: row;
    width: 95%;
    align-items: flex-start;
    height: 600px;
  }

  .googlemap{
    height: 500px;
  }

>>>>>>> b72fb4b2132f496acf431784a43ef6b7d48cacd2
  .contact{
    height: 500px;
  }



  /*-----END OF CONTACT DESKTOP-----*/


}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
